* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato';
}

body, p {
    font-size: 16px;
    line-height: 140%;
}

h1 {
    font-size: 42px;
}

h2, h3, h4 {
    font-size: 24px;
}

aside {
    width: 30%;
    float: left;
}

section {
    width: 70%;
    float: left;
}

a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: #000;
}


/*spesific classes*/

.user-info {
    border-right: 1px solid #d5d5d5;
    padding: 15px;
}

.user-actions {
    padding: 15px;
    height: 100%;
    display: block;
    position: relative;

}

.user-actions::after {
    content: "";
    background: url('../images/codecool.png') no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 70%;
    background-position: center;
}

.user-actions h3 {
    text-align: center;
}

.user-first-section {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 15px;
}

.image-wrapper:after {
    clear: both;
    content: "";
    display: block;
}

.image-wrapper img {
    width: 30%;
    max-width: 100px;
    float: left;
}

.image-wrapper .details {
    width: 50%;
    float: left;
    padding: 20px;
    padding-top: 0px
}

.user-capabilities {
    clear: both;
    display: block;
    padding: 15px 0px;
}


/*Who wright this???*/


/*Use class or at least id, not just a table*/


/*table{
    width: 100%;
    max-width: 100%;
    display: block;
    overflow-x: auto;
}*/

.back-button {
    width: 100px;
    height: 35px;
    background: url("../images/back-button(1).png") no-repeat;
    background-size: 30px;
    position: fixed;
    bottom: 5%;
    left: 32%;
    text-align: right;
}

.back-button a {
    margin-top: 5px;
    display: block;
    font-size: 1.5em;
}


/*Who wright this???*/


/*Use class or at least id, not just a table td*/


/*table td{
	border: 1px solid #d5d5d5;
	padding: 15px;
}*/


/**/

.addmentor-input label {
    display: block;
}

.addmentor-button {
    display: block;
}


/**/


/*------------------login------------*/

.login-wrapper {
    width: 50%;
    margin: 7% auto;
    text-align: center;
}

.login {
    width: 70%;
    margin: inherit;
    border: 3px solid #bebcbc;
    border-radius: 5px;
    padding: 20px;
}

.login input {
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

#button {
    background-color: #0b5463;
    display: block;
    color: white;
    padding: 14px 20px;
    margin: 15px auto;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/*------------------student assiments-----------------*/


/*listing*/

.stud-assiments {
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.stud-assiments td, th {
    padding-top: 20px;
    border-bottom: 2px dashed #000;
}

#icon {
    width: 30px;
}


/*view detaiils*/

.stud-view-assiments {
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

.stud-view-assiments td, th {
    padding-top: 20px;
    border-bottom: 2px dashed #000;
}


/*submition*/

.submition-wrapper {
    width: 90%;
    margin: 10px auto;
}

.submition-wrapper input {
    padding: 12px 20px;
    margin: 8px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    float: right;
}

#sub-button {
    background-color: #0b5463;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
