*{
	box-sizing: border-box;
}
body,p{
	font-size:16px;
	line-height: 140%;
}
h1{
	font-size: 42px;
}
h2,h3,h4{
	font-size:24px;
}

aside{
	width: 30%;
	float:left;
}

section{
	width: 70%;
	float:left;	
}

.user-info{
	border-right: 1px solid #d5d5d5;
	padding: 15px;
}
.user-actions{
	padding: 15px;
}

.user-first-section{
	border-bottom:  1px solid #d5d5d5;
	padding-bottom: 15px;
}
.image-wrapper:after{
    clear: both;
    content: "";
    display: block;
}
.image-wrapper img{
	width: 30%;
	max-width: 100px;
	float:left;
}

.image-wrapper .details{
	width: 50%;
	float:left;
	padding: 20px;
    padding-top: 0px
}
.user-capabilities{
	clear: both;
	display: block;
	padding: 15px 0px;	 
}

table td{
	border: 1px solid #d5d5d5;
	padding: 15px;
}

/*==============================================================*/


.addmentor-input label {
    display: block;
}


.addmentor-button {
    display: block;
}




	
body{
  margin: 0;
  padding: 0;
}

.login-wrapper{
  width: 50%;
  margin: 7% auto;
  text-align: center;
}
.login {
    width: 70%;
    margin: inherit;
    border: 3px solid #bebcbc;
    border-radius: 5px;
    padding: 20px;
}
.login input{
    width: 60%;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
#button {
    background-color: #0b5463;
    display: block;
    color: white;
    padding: 14px 20px;
    margin: 15px auto;
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
