* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato';
}

body, p {
    font-size: 16px;
    line-height: 140%;
}

h1 {
    font-size: 42px;
}

h2, h3, h4 {
    font-size: 24px;
}

aside {
    width: 30%;
    float: left;
}

section {
    width: 70%;
    float: left;
}

a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: #000;
}

input, select {
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

/*spesific classes*/

.user-info {
    border-right: 1px solid #d5d5d5;
    padding: 15px;
}

.user-actions {
    padding: 15px;
    height: 100%;
    display: block;
    position: relative;
}

.user-actions::after {
    content: "";
    background: url('../images/codecool.png') no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 70%;
    background-position: center;
}

.user-actions h3 {
    text-align: center;
}

.user-first-section {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 15px;
}

.image-wrapper:after {
    clear: both;
    content: "";
    display: block;
}

.image-wrapper img {
    width: 30%;
    max-width: 100px;
    float: left;
}

.image-wrapper .details {
    width: 50%;
    float: left;
    padding: 20px;
    padding-top: 0px
}

.user-capabilities {
    clear: both;
    display: block;
    padding: 15px 0px;
}

.back-button a {
    margin-top: 5px;
    display: block;
    font-size: 1.5em;
    position: fixed;
    bottom: 5%;
    left: 32%;
    text-align: right;
}

/*------------------login------------*/

.login-wrapper {
    width: 50%;
    margin: 7% auto;
    text-align: center;
}

.login {
    width: 70%;
    margin: inherit;
    border: 3px solid #bebcbc;
    border-radius: 5px;
    padding: 20px;
}

#button {
    background-color: #0b5463;
    display: block;
    color: white;
    padding: 14px 20px;
    margin: 15px auto;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


/*------------------student assiments-----------------*/


/*listing*/

.small-wrapper{
  width: 60%;
  margin: 0 auto;
}
.large-wrapper{
  width: 90%;
  margin: 0 auto;
}
.table-style {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.table-style td, th {
    padding-top: 20px;
    border-bottom: 2px dashed #000;
}

/*submition*/
#sub-button {
  background-color: #0b5463;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;}

.submition-wrapper {
    width: 90%;
    margin: 10px auto;
}

.submition-wrapper input {
    padding: 12px 20px;
    margin: 8px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 0;
    width: 50%;

}

.submition-wrapper #sub-button{
  width: auto;
}

.main-form{
  text-align: center;
  margin-top: 5%;
}
.main-form input, select{
  width: 40%;
  margin: 10px auto;
}
 .main-form #sub-button{
   width: 20%;
   margin: 10% auto;
 }
.right-side {
  float: left;
  width: 40%;

}
.right-side input{
  width: 100%;
}
.button-td{
    border:none;
}
.sub-right{
    text-align: right;
    float:right
}

/*group-capabilities*/

.group-capabilities ul{
    list-style-type: none;
}
.group-capabilities ul li a{
    font-size: 18px;
    padding-left: 15px;
}
.group-capabilities ul li:before{
    background: url(../images/codecool.png);
    content: '';
    display: inline-block;
    padding: 5px;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 8px;
    position: relative;
    left: -5px;
}
.group-capabilities ul li.active:before{

    left: -5px;
        -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
.group-capabilities ul li.active a{
    font-weight: bold;
}

i.fa{
    font-size: 20px;
}
/*Custom styles checkbox*/


input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:black;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:black;
    font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -57px top no-repeat;
}

/*Animations */
.default-image-spin {

}
.default-image-spin img{

    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
