{% extends 'index.html' %}
{% block content %}
    <h3>Add assistant</h3>
    <div class="large-wrapper">
        <form class="main-form" action="" method="post">
            <div class="right-side">
                <label for="first-name">First name</label>
                <input type="text" name="first-name" value="">
                <label for="last-name">Last name</label>
                <input type="text" name="last-name" value="">
            </div>
            <label for="phone-number">Telephone number</label>
            <input type="tel" name="phone-number" value="">
            <label for="mail">Mail</label>
            <input type="email" name="email" value="">
            <label for="salary">Salary</label>
            <input type="number" name="salary" value="">
            <label for="password">Password</label>
            <input type="text" name="password" value="">
            <input class='main-button' type="submit" name="submition" value="Save">

        </form>
    </div>
{% endblock %}
