{% extends 'index.html' %}
{% block content %}
<h3>Add new assignment</h3>
<form class="main-form" action="" method="post">
    <label>Title</label>
    <input type="text" name="title" placeholder="Title" data-isvalid="False" onkeyup="isEmpty('main-form-title')"
           id="main-form-title" required>
    <label>Description</label>
    <input name="description" type="textarea" placeholder="Description" id="main-form-desc" onkeyup="isEmpty('main-form-desc')">
    <label>Due date</label>
    <input name="due_to" type="date" placeholder="dd/mm/yyyy" id="main-form-date">
    <label>Type</label>
    <select name="type" required>
        <option value="individual">individual</option>
        <option value="group">group</option>
    </select>
    <input name="add_assignment" id='main-sub-button' class='main-button' type="submit" value="Save">

</form>
<div class="back-button"><a href="{{url_for('assignment_controller.list_assignments')}}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
</div>

{% endblock %}
