{% extends 'index.html' %}
{% block content %}
<h3>Check Attendance {{ date }}</h3>
<form class="main-form" action="" method="post">
    <div class="small-wrapper">
        <table class='table-style' onclick="toggleButtonRadioForm('attendance-sub-button', 'attendance-radio')">
            <thead>
            <th>Name</th>
            <th>Absent</th>
            <th>Present</th>
            </thead>
            <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.first_name }} {{ student.last_name }}</td>
                <td><input type="radio" id="{{ student.id }}-yes" name="{{ student.id }}" class="attendance-radio" value="1"/>
                    <label for="{{ student.id }}-yes"><span></span>Yes</label>
                </td>
                <td><input type="radio" id="{{ student.id }}-no" name="{{ student.id }}" class="attendance-radio" value="0"/>
                    <label for="{{ student.id }}-no"><span></span>No</label>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>

        </table>
        <input class='main-button' type="submit" value="Submit" id="attendance-sub-button" disabled="disabled">
        <script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
    </div>
</form>
{% endblock %}