{% extends 'index.html' %}
{% block content %}
<h3>Grade assignment Dupa</h3>
<div class="small-wrapper">
    <h4>Chose student:</h4>
    <table class='table-style'>
        <thead>
        <th>First name</th>
        <th>Last name</th>
        <th>Grade</th>
        </thead>
        <tbody>
        <tr>
            <td>Piotrek</td>
            <td>Hahaha</td>
            <td><a href="grade_stud.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></a></i></td>
        </tr>
        </tbody>
    </table>

</div>
<div class="back-button"><a href="mentor_list_assiments.html"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
</div>
{% endblock %}