{% extends 'index.html' %}
{% block content %}
	<h3>Average Scores </h3>
	 <div class="small-wrapper">
      <table class='table-style'>
        <thead>
          <th>Name</th>
          <th>Grade</th>
					<th>Presence</th>
        </thead>
        <tbody>
		    	{% for student in students%}
						<tr>
							<td>{{student.full_name()}}</td>
							<td>{% if student.grade_average()%}{{student.grade_average()}}{%else%}-----{%endif%}</td>
							<td>{% if student.presence_average()%}{{student.presence_average()}}{%else%}-----{%endif%}</td>
						</tr>
					{% endfor %}
        </tbody>
      </table>
		</div>
{% endblock %}
