{% extends 'index.html' %}
{% block content %}
	<h3>Average Scores </h3>
	 <div class="small-wrapper">
     <h1>{{ user.first_name }}</h1>
      <table class='table-style'>
        <thead>
          <th>Name</th>
          <th>Grade</th>
					<th>Presence</th>
        </thead>
        <tbody>
		    	{% for student in students%}
						<tr>
							<td>{{student.full_name()}}</td>
							<td>{{student.grade_average()}}</td>
							<td>{{student.presence_average()}}</td>
						</tr>
					{% endfor %}
        </tbody>
      </table>
		</div>
{% endblock %}
