{% extends 'index.html' %}
{% block content %}{% if assignment and submit %}

    <h3>Submit assignment for {{ assignment.title }}</h3>
    <div class="small-wrapper sub-assignment">
        <form action="" method="post">
            <textarea name="content" placeholder="Your Submition Content"></textarea>
            <input type="submit" value="Submit" class='main-button'>
        </form>
  </div>
  <div class="back-button"><a href="{{ url_for('assignment_controller.view_assignments',assignments_id=assignment.id) }}"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</a></div>
{% endif %}
{% endblock %}
