<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <input type="text" name="users" value="Piotrek">
    <input type="text" name="users" value="Seb">
    <input type="text" name="users" value="Diana">
    <input type="text" name="users" value="Monika">
    <input type="text" name="users" value="Dupa">
    <input type="text" name="users" value="Kupa">
    <input type="text" name="users" value="Dupa">
    <input type="submit" name="submit" value="Submit">
</form>
</body>
</html>