{% extends 'index.html' %}
{% block content %}
<section>
    <h3>List assignments</h3>
    <div class="large-wrapper">
        <a href="{{url_for('add_assignment')}}"><input class="sub-right main-button" type="button" value="Add New Assignment"></a>
        <table class='table-style'>
            <thead>
            <th>Assignment</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Type</th>
            <th>Grade</th>
            </thead>
            <tbody>
            {% for assignment in assignListOfObjects %}
            <tr>

                <td>{{assignment.title}}</td>
                <td>{{assignment.description}}</td>
                <td>{{assignment.due_date}}</td>
                <td>{{assignment.type}}</td>
                <td>
                    <form method="post"  action="{{url_for('grade_assignment')}}">
                        <input type="hidden" value="{{assignment.id}}" name="assignmentID">
                        <button type="submit" value="editAssignment"><i class='fa fa-pencil-square-o' aria-hidden='true'></i></button>
                    </form>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}