{% extends 'index.html' %}
{% block content %}

<h3>Mentors List:</h3>
<div class="large-wrapper">
    <a href="addmentor.html"><input class="sub-right main-button" type="button" value="Add New Mentor"></a>
    <table class='table-style'>
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Phone number</th>
        <th>E-mail</th>
        <th>Salary</th>
        <th>Edit</th>
        <td>Delete</td>
        </thead>
        <tbody>
        {% for mentor in mentorsObjectList %}
        <tr>
            <td>{{mentor.id}}</td>
            <td>{{mentor.full_name()}}</td>
            <td>{{mentor.telephone}}</td>
            <td>{{mentor.mail}}</td>
            <td>{{mentor.salary}}</td>
            <td><a href="editmentor.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
            <td><a href="{{  url_for('delete_mentor', mentor_id=mentor.id)  }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
