{% extends 'index.html' %}
{% block content %}
			<h3>Student List:</h3>
			<div class="large-table-wrapper">
            <a href="addstudent.html"><input class="sub-right main-button" type="button" value="Add New Student"></a>
			<table class='table-style'>
				<thead>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
                    <th>User Name</th>
					<th>Phone number</th>
                    <th>E-mail</th>
                    <th>Team</th>
                    <th>Edit</th>
				    <th>Delete</th>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Diana</td>
                        <td>Tokarska</td>
                        <td>diana.tokarska</td>
                        <td>123-123-123</td>
                        <td>diana@codecool.pl</td>
                        <td>Team10</td>
						<td><a href="editstudent.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
						<td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
					</tr>
					<tr>
						<td>2</td>
                        <td>Monika</td>
                        <td>Płocica</td>
                        <td>monika.plocica</td>
                        <td>123-123-123</td>
                        <td>monika@codecool.pl</td>
                        <td>Team10</td>
						<td><a href="editstudent.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
						<td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
					</tr>
					<tr>
						<td>3</td>
						<td>Piotr</td>
                        <td>Gurdek</td>
                        <td>piotr.gurdek</td>
                        <td>123-123-123</td>
                        <td>piotr@codecool.pl</td>
                        <td>Team10</td>
						<td><a href="editstudent.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
						<td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
					</tr>
                    <tr>
						<td>4</td>
						<td>Sebastian</td>
                        <td>Kurant</td>
                        <td>sebastian.kurant</td>
                        <td>123-123-123</td>
                        <td>sebastian@codecool.pl</td>
                        <td>Team10</td>
						<td><a href="editstudent.html"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
						<td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
					</tr>

				</tbody>

			</table>
					</div>

{% endblock %}