{% extends 'index.html' %}
{% block content %}

    {% if choose == "Mentor" %}
        <h3>List assignments</h3>
        <div class="large-wrapper">
            <a href="{{ url_for('assignment_controller.add_assignment') }}"><input class="sub-right main-button" type="button"
                                                             value="Add New Assignment"></a>

            {% if assignListOfObjects %}
                <table class='table-style'>
                    <thead>
                    <th>Assignment</th>
                    <th>Description</th>
                    <th>Due Date</th>
                    <th>Type</th>
                    <th>Grade</th>
                    <th>Delete</th>
                    </thead>
                    <tbody>
                    {% for assignment in assignListOfObjects %}
                        <tr>
                            <td>{{ assignment.title }}</td>
                            <td>{{ assignment.description }}</td>
                            <td>{{ assignment.due_date }}</td>
                            <td>{{ assignment.type }}</td>
                            <td>
                                <form method="post" action="{{ url_for('assignment_controller.grade_assignment') }}">
                                    <input type="hidden" value="{{ assignment.id }}" name="assignmentID">
                                    <button type="submit" value="editAssignment"><i class='fa fa-pencil-square-o'
                                                                                    aria-hidden='true'></i></button>
                                </form>
                            </td>
                            <td>
                              <a href="{{url_for('assignment_controller.delete_assignment', assignment_id=assignment.id)}}">
                              <i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            {% else %}
                <div class="small-wrapper no-content">
                    <p>There is no Assignments. Please add assignment.</p>
                </div>
            {% endif %}

    {% elif choose=="Student" %}

        <h3>Assignments avaiable to you</h3>
        {% if student_assignments %}
            <div class="small-wrapper">
                <table class='table-style'>
                    <thead>
                    <th>Assiment</th>

                    <th>View/Submit</th>
                <tbody>
                {% for student_assignment in student_assignments %}
                    <tr>
                        <td>{{ student_assignment.title }}</td>
                        <td><a href="{{ url_for('assignment_controller.view_assignments',assignments_id=student_assignment.id) }}"><i
                                class="fa fa-search" aria-hidden="true"></a></td>
                        </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="small-wrapper no-content">
                <p>There is no assignments at the moment available for you.</p>
            </div>

        {% endif %}
    {% endif %}



{% endblock %}
